body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    
}

.blog-container h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2em;
    color: #333;
    text-align: left;
    margin-bottom: 100px;
    border-bottom: none;
}

.post {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.post h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    color: #111;
}

.post p {
    font-size: 0.9em;
    color: #21243D;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.post .meta {
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.post .meta .date {
    font-weight: 350;
    font-size: 0.9em;
    color: #21243D;
}

.post .meta .tags {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #8695A4;
}

.post .meta .separator {
    margin-left: 25px;
    margin-right: 25px;
}

.post a {
    color: inherit;
    text-decoration: none;
}

.pagination, .navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 10px;
}

.pagination button, .nav-button {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 0.9em;
    flex: 1;
}

.pagination button:hover, .nav-button:hover {
    background-color: #000;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}

footer p {
    color: #888;
    font-size: 0.9em;
    margin-top: 10px;
}

.post-content-2 {
    color: #000;
    font-family: 'Helvetica', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-container h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

#login-container input[type="email"],
#login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#login-container button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-container button:hover {
    background-color: #0056b3;
}

#login-container p#login-error {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
}

footer .social-icons {
    margin-bottom: 20px;
}

footer .social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #007bff;
}

footer p {
    color: #888;
    font-size: 0.9em;
    margin-top: 10px;
}

/* Post Container */
.post-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px;
    background-color: #fff;
}

.post-container h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.post-container .meta {
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.post-container .meta .date {
    font-weight: bold;
    font-size: 1.2em;
}

.post-container .meta .tags {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 1em;
    color: #666;
}

.post-container .meta .separator {
    margin-left: 10px;
    margin-right: 10px;
}

.post-container .post-content {
    color: #000;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: 100px;
    text-align: center;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#navigation .nav-button {
    flex: 1;
    text-align: center;
}

#prevPost {
    justify-content: flex-start;
}

#nextPost {
    justify-content: flex-end;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}

footer p {
    color: #888;
    font-size: 0.9em;
    margin-top: 10px;
}

.container-admin {
      display: flex;
    justify-content: center;
}

.admin-container {
    width: 80%;
    max-width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.admin-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 50px;
}

.admin-header h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2em;
    color: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logout-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #ff1a1a;
}

.editor {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.publish-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.publish-button:hover {
    background-color: #0056b3;
}